{
  "globals": {
    "define": true
  },
  "env": {
    "node": true
  },
  "rules": {
    "valid-jsdoc": [2, {
      "requireReturnDescription": false,
      "requireParamDescription": false
    }],
    "indent": [2, 2],
    "eol-last": 2,
    "no-trailing-spaces": 2,
    "quotes": [2, "single"],
    "no-unused-vars": [2, { "args": "none" }],
    "no-undef": 2,
    "camelcase": 2,
    "semi": 2,
    "curly": 2
  }
}
